*{
	margin:0;
	padding:0;
	border:none;
	font-family:Verdana, Arial, San-Serif;
}
body{
	background:#3e79b6;
}
#site{
	width:850px;
	margin:0 auto;
	/*box-shadow: 2px 0 5px #999 , -2px 0 5px #999 ; sombra de uma caixa "div"*/
}
#topo{
	padding:50px;
	height:1px;
	/*background:#313131;*/
	background: url(img/hurt1.png) no-repeat;
	background-position: left 20px;
}

#logo{
	width:100px;
	text-align:center;
	margin-top:50px;
}
#logo h1{
	color:#FFF;
}